# Palmer Penguins 

This is a Jupyter notebook of my assessment of analysis of the Palmer Penguins dataset (available [here](https://allisonhorst.github.io/palmerpenguins/)) done using python.

## Juyper Notebook Table of Contents

- [Background on the Palmer Penguins Dataset](#Background-on-the-Palmer-Penguins-Dataset)
- [Importing the dataset](#Importing-the-dataset)

## Background on the Palmer Penguins Dataset

This dataset is based.

## Importing the dataset

In [1]:
# Before the dataset is imported key python packages need to be imported such as pandas
import pandas as pd

In [3]:
penguins = pd.read_csv('penguins.csv')
# import diabetes dataset as a pandas dataframe

In [4]:
penguins.sample(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
208,Chinstrap,Dream,45.2,16.6,191.0,3250.0,FEMALE
288,Gentoo,Biscoe,43.5,14.2,220.0,4700.0,FEMALE
235,Gentoo,Biscoe,49.3,15.7,217.0,5850.0,MALE
206,Chinstrap,Dream,42.5,17.3,187.0,3350.0,FEMALE
256,Gentoo,Biscoe,42.6,13.7,213.0,4950.0,FEMALE